<header class="site-header" role="banner" style="background:#0d0d0d; border-bottom: 1px solid #222;">
  <div class="wrapper" style="display:flex; justify-content:space-between; align-items:center; padding:1rem 0;">

    <nav class="site-nav" style="display:flex; gap:1.5rem; align-items:center;">

      <a href="/" class="page-link" style="color:#ccc; font-weight: bolder;">Inicio</a>
      <a href="#repositorios" class="page-link" style="color:#ccc;">Repositorios</a>
      <a href="#conocimiento" class="page-link" style="color:#ccc;">Conocimiento Técnico y Tecnologías</a>
      <a href="#certificado" class="page-link" style="color:#ccc;">Certificados</a>

      <a href="https://github.com/Vintailsz" target="_blank" style="color:white;">
        <svg class="svg-icon" width="20" height="20">
          <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
        </svg>
      </a>

      <a href="https://twitter.com/BryanQu97341182" target="_blank" style="color:white;">
        <svg class="svg-icon" width="20" height="20">
          <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use>
        </svg>
      </a>

    </nav>
  </div>
</header>