<header class="site-header bg-dark border-bottom border-secondary sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark container py-3">

    <a class="navbar-brand fw-bold" href="index.html">
      <i class="fa fa-home"></i> Inicio
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link fw-bold" href="repositorios.html">
            <i class="fa fa-github"></i> Repositorios
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-bold" href="conocimientos.html">
            <i class="fa fa-graduation-cap"></i> Conocimiento Técnico y Tecnologías
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-bold" href="certificados.html">
            <i class="fa fa-book"></i> Certificados
          </a>
        </li>

        <li class="nav-item d-flex align-items-center ms-lg-3">
          <a href="https://github.com/Vintailsz" target="_blank" class="nav-link p-1">
            <svg width="20" height="20">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
            </svg>
          </a>

          <a href="https://twitter.com/BryanQu97341182" target="_blank" class="nav-link p-1">
            <svg width="20" height="20">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use>
            </svg>
          </a>

          <a href="https://www.linkedin.com/in/bryan-marcelo-quintanilla-shiguango-2a35591a4/" target="_blank"
            class="nav-link p-1">
            <svg width="20" height="20">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use>
            </svg>
          </a>
        </li>

      </ul>
    </div>

  </nav>
</header>