<header class="site-header" role="banner" style="background:#0d0d0d; border-bottom: 1px solid #222;">
  <div class="wrapper" style="display:flex; justify-content:space-between; align-items:center; padding:1rem 0;">

    <nav class="site-nav" style=" gap:10rem; align-items:start;">

      <a href="index.html" class="page-link" style="color:#ccc; font-weight: bolder;"><i class="fa fa-home"></i> Inicio</a>
      <a href="repositorios.html" class="page-link" style="color:#ccc;"><i class="fa fa-github"></i> Repositorios</a>
      <a href="conocimientos.html" class="page-link" style="color:#ccc;"><i class="fa fa-graduation-cap"></i> Conocimiento Técnico y Tecnologías</a>
      <a href="certificados.html" class="page-link" style="color:#ccc;"><i class="fa fa-book"></i> Certificados</a>

      <a href="https://github.com/Vintailsz" target="_blank" style="color:white;">
        <svg class="svg-icon" width="20" height="20">
          <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
        </svg>
      </a>

      <a href="https://twitter.com/BryanQu97341182" target="_blank" style="color:white;">
        <svg class="svg-icon" width="20" height="20">
          <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use>
        </svg>
      </a>

      <a href="https://www.linkedin.com/in/bryan-marcelo-quintanilla-shiguango-2a35591a4/" target="_blank" style="color:white;">
        <svg class="svg-icon" width="20" height="20">
          <use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use>
        </svg>
      </a>

    </nav>
  </div>
</header>